div {
    margin-bottom: 15px;
  }
  label {
    display: inline-block;
    width: 150px;
  }
  form{
    text-align: center;
  }

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    
#submit{
  background-color: blue;
  
}
  
  